html{
  scroll-behavior: smooth;
  font-family: 'Garamond';
}

body{
  background: radial-gradient(circle, #066b15 0%, rgb(4, 24, 1) 100%);
  color: white;
  max-width: 2000px;
  margin: 0 auto;
}

.strona-glowna{
  font-size: 18px;
  width: 70%;
  /* height: 100%; */
  margin: 0 auto;
  text-align: justify; 
}

.spadek{
  font-size: 18px;
  text-align: justify;
}

.banner{
  display: flex;
  background-image: url('./img/kancelaria.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center center;
  width: 100%;
  height: 600px;
  position: relative;
}

.banner:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.3);
}

.strona-glowna ol{
  padding-left: 10px;
}

.full-name{
  display: block;
  margin-right: 20px;
}
  
.surname{
  margin-left: 80px;
}

h1{
  font-size: 50px;
  font-style: italic;
  font-weight: normal;
  margin: 0;
}
  
h2{
  font-size: 22px;
}
  
h3{
  font-size: 20px;
}
  
header ul{
  list-style: none;
  padding: 0;
}
  
header{
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: inherit;
  position: sticky;
  top: 0;
  z-index: 2;
}

.address{
  display: block;
  font-size: 16px;
}

.buttons{
  display: flex;
  background: rgba(255, 255, 255, 0.2);
  padding: 5px;
}

.button{
  display: block;
  width: 140px;
  height: 40px;
  text-align: center;
  font-size: 22px;
  background-color: rgb(9, 65, 0);
  /* color: #064d0d; */
  color: white;
  padding: 4px;
  text-decoration: none;
  float: left;
  display: inherit;
  justify-content: center;
  align-items: center;
}

.button:hover{
  /* background: linear-gradient(to left, #064d0d 0%, #063c08 50%, rgb(4, 24, 1) 100%); */
  background: linear-gradient(rgb(2, 14, 0), rgb(2, 14, 0));
  color: white;	
}

.button:focus{
  outline: none;
  background-color: rgb(2, 14, 0);
  color: white;	
}

.tiles{
  display: flex;
  margin: 15px auto 0;
  height: 50px;
  z-index: 1;
  /* border: 8px solid #ceae78; */
}

.tile{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  width: 180px;
  height: 65px;
  font-size: 22px;
  /* padding: 0 10px; */
  background: linear-gradient(rgb(214, 214, 214), rgb(214, 214, 214));
  transition: rgb(198, 164, 151) 0.5s, rgb(160, 136, 126) 0.5s;
  border: 1px solid rgb(84, 84, 84);
  color: #064d0d;
  float: left;
  box-shadow: 2px 2px 2px rgb(13, 13, 13);
}

.tile:hover{
  /* background-color: #ceae78; */
  /* background-color: rgb(145, 120, 110); */
  /* background-color: rgb(198, 164, 151); */
  background: repeating-linear-gradient(rgb(198, 164, 151) 0%, rgb(160, 136, 126) 10%);
}

img{
  width: 100%;
  height: 40%;
  box-shadow: 0 0 60px black;
}

.o-mnie img{
  width: 20%;
  height: 80%;
  margin-top: 1em;
}
  
.text{
  display: block;
  width: 60%;
}
  
.o-mnie{
  font-size: 18px;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  text-align: justify;
}
  
.o-mnie ul{
  list-style: circle;
  padding-left: 20px; 
}
  
footer{
  font-size: 16px;
  text-align: center;
}
  
#line{
  position: absolute;
  bottom: 120px;
  width: inherit;
  height: 0;
}
  
.spadek{
  width: 65%;
  margin: 0 auto;
}
  
.inne{
  width: 50%;
  margin: 0 auto;
  line-height: 150%;
  font-size: 18px;
  text-align: justify;
}
  
.foot{
  border-top: 1px solid white;
  padding-top: 10px;
}

ul li{
  list-style-type: disc;
}

.spadek ul li{
  margin-bottom: 10px;
}

header ul li{
  list-style-type: none;
}

@media only screen and (max-width: 710px) {

  header{
    flex-direction: column;
    position: static;
  }

  #line{
    bottom: 0;
    height: 0;
  }

  .address{
    padding: 10px;
    font-size: 16px;
  }

  .full-name{
    padding: 10px;
    margin: 0;
  }

  .surname{
    margin-left: 50px;
  }

  h1{
    font-size: 40px;
  }

  .buttons{
    margin: 20px 0 20px 0;
  }

  .button{
    width: 120px;
    height: 30px;
    font-size: 16px;
  }

  .banner{
    width: 100%;
    height: 280px;
  }

  .banner:before{
    width: 100%;
  }

  .tiles{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: auto auto;
    height: 120px;
  }

  .tile{
    width: 100px;
    height: 40px;
    font-size: 16px;
  }

  .o-mnie{
    display: block;
  }

  .text{
    width: 90%;
    margin: 0 auto;
  }

  .o-mnie img{
    margin: 0 18px 18px 18px;
    float: left;
    width: 30%;
    height: 80%;
  }

  .spadek{
    width: 90%;
    font-size: 16px;
  }

  ol{
    padding: 10px;
  }

  .inne{
    width: 80%;
    font-size: 16px;
  }
}

@media only screen and (min-width: 711px) and (max-width: 1100px) {

  .address{
    padding: 10px;
    font-size: 16px;
  }

  .full-name{
    padding: 10px;
    margin: 0;
  }

  .surname{
    margin-left: 50px;
  }

  h1{
    font-size: 40px;
  }

  .buttons{
    margin: 20px 0 20px 0;
  }

  .button{
    width: 100px;
    height: 30px;
    font-size: 16px;
  }
  
  .banner{
    width: 100%;
    height: 400px;
  }

  .banner:before{
    width: 100%;
  }

  #line{
    bottom: 150px;
  }

  .tiles{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: auto auto;
    height: 130px;
  }

  .spadek{
    width: 80%;
    font-size: 16px;
  }

  .inne{
    width: 70%;
    font-size: 16px;
  }
}